<mat-card>
    <h1>{{formType}}</h1> 
    <form #studentForm="ngForm"> 
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required> 
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput 
                [(ngModel)] = "math" 
                name = "math" 
                type = "number"
                required
                > 
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psychometric</mat-label>
              <input matInput 
                [(ngModel)] = "psychometric" 
                name = "psychometric" 
                type = "number"
                required> 
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>payOrNot</mat-label>
              <input matInput 
                [(ngModel)] = "payOrNot" 
                name = "payOrNot" 
                required> 
                <mat-hint>True/False</mat-hint>
            </mat-form-field>
          </p>                                 
        <div > 
            <button mat-raised-button 
                   [disabled] = "!studentForm.form.valid" 
                    color="primary" 
                    (click) = "validation(math,psychometric)">
                    {{formType}} 
            </button>
            <button mat-raised-button 
                    (click) = "tellParenttoClose()">
                    Cancel
            </button>
        </div>
        <p style = "color: red">{{error}}</p>
      </div>
    </form>
   </mat-card>
