.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


/* נוסיף עיצוב לקישורים שיש בתרפיט העליון של ההתחברות וההרשמה*/
.whitelink {
  color: white;
  text-decoration:none; /* כדי להוריד את הקו התחתון*/
  margin: 5px;
}
.spacer {
  width: 100%; /* כדי להזיז עד לסוף העמוד ימינה*/
}

.whitelink1 {
  cursor: pointer; /* כדי שבעת מעבר עם העכבר ישתנה הסימון שלו לסימון של כפתור לחיץ*/
}
