<p *ngIf = "!(authService.getUser() | async)">You Are Not Logged In</p> 
<div>
    <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
    color = "primary" 
    (click) = "addstudentFormOpen = !addstudentFormOpen"> 
        Add Student
    </button>
</div>
<div>
    <studentform *ngIf = "addstudentFormOpen"
             (update) = "add($event)"
             (closeEdit) = "addstudentFormOpen = false"
             [formType] = "'Add Student'"> 
    </studentform>
</div>
<mat-accordion *ngIf = "(authService.getUser() | async)"> 
   <mat-expansion-panel 
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let student of students$ | async; let i = index">
                        <!--לדפדוף-->
                        <!--*ngFor = "let costumer of costumers; let i = index"--> 
        <mat-expansion-panel-header> 
        <mat-panel-title>
            {{student.name}} 
        </mat-panel-title>
        <mat-panel-description>
            <button mat-raised-button class="space"
                color = "primary" 
                (click) = "deleteStudent(student.id)"> 
                Delete
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <div>
      <div> {{student.name}} Math:  {{student.math}} </div>
        <div> {{student.name}} Psychometric: {{student.psychometric}} </div>
        <div> Is {{student.name}} Pay Or Not: {{student.payOrNot}} </div>
        <div>
          <div> the Prob of {{student.name}} is: {{prob}}, is she/he will fall? </div>
          <p *ngIf = "fallOrNot == 'yes'"style="color:red;">{{fallOrNot}}</p>
          <p *ngIf = "fallOrNot == 'no' "style="color:green;">{{fallOrNot}}</p>
        </div>
          <button mat-raised-button class="space2"
          color="primary" 
          (click) = "predict(student.psychometric, student.math, student.payOrNot)">
          Predict
        </button> 
    </div>
    <button mat-raised-button class="space2"
    color="primary" 
    (click) = "savePredict(student.id, fallOrNot)">
    Save Predict Result
  </button>
  <div></div> 
  <button mat-raised-button class="space2"
  color="primary" 
  (click)= "panelOpenState = false">
  cancle predict
</button>
<div></div> 
<div> The Email of the User that predict: {{ (authService.user | async)?.email }} </div>
  <div></div> 
  <button mat-raised-button class="space2"
  color = "primary" 
  (click) = "editstate[i] = !editstate[i]"> 
  Edit
</button>
    <studentform
      [hidden] = "!editstate[i]"
      [name] = "student.name"
      [math] = "student.years"
      [psychometric] = "student.income"  
      [id] = "student.id" 
      [payOrNot] = "student.payOrNot" 
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
      [formType] = "'Edit Student'"> 
    </studentform>
    </mat-expansion-panel>
  </mat-accordion>

      <!--דפדןף-->
      <!--<div>
        <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
        color="primary"
        (click) = "previewsPage()">
        Previews Page
       </button>   
      </div>-->
      
      <!--דפדןף-->
     <!-- <div>
        <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
        color="primary"
        (click) = "nextPage()">
        Next Page
       </button>   
      </div>-->


  